h1 {
    font-family: Arvo;
    font-size: 35;
    color: white;
}

h2 {
    font-family: Arvo;
    font-size: 25;
    color: white;
}

p {
    font-family: Arvo;
    font-size: 20;
    color: white;
}

label {
    font-family: Arvo;
    color: white;
}

div.container {
    display: flex;
}


p.title {
    font-family: Arvo;
    font-size: 20;
    color: white;
}

p.footer {
    font-family: Arvo;
    font-size: 20;
    color: white;
}

div {
    background-color: lightskyblue;
}

div.center {
    text-align: center;
}

div.left {
    background-color: lightskyblue;
    text-align: left;
    width: 300px;
    padding: 1%;
    min-height: 600px;
}

body {
    background-color: white(0, 82, 0);
}

input[type=text] {
    border: 0.1px solid lightskyblue;
}

select {
    border: 0.1px solid lightskyblue;
}

input[type=submit] {
    border: 0.1px solid lightskyblue;
    color: white;
    background-color: rgb(80, 134, 252);
    width: 100;
    height: 30;
}

footer {
    text-align: center;
    background-color: lightslategray;
    width: 100%;
    height: 100%;
}